
@font-face {
  font-family: 'iconfont'; 
  src: url('../../alifont/iconfont.eot');
  src: url('../../alifont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../alifont/iconfont.woff') format('woff'),
  url('../../alifont/iconfont.ttf') format('truetype'),
  url('../../alifont/iconfont.svg#iconfont') format('svg');
}

.iconFont{
	font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.alertBox{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #00000042;
}
.alert{
	position: absolute;
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	width: 25%;
	background: #fff;
	box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	font-size: 14px;
}
.alert.left{
	left:0;
	top: 50%;
	transform: translateY(-50%);
}
.alert.right{
	right:0;
	top: 50%;
	transform: translateY(-50%);
}
.alert.top{
	top:0;
	left: 50%;
	transform: translateX(-50%);
}
.alert.bottom{
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
}
.alert.center{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.alert_title{
	width:100%;
	padding-left: 70px;
	line-height: 65px;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
	
}
.del.alert_title:before{
	color: #f00;
}
.alert_title:before{
	position: absolute;
	left: 30px;
	top: 0;
	color: #8A9BFF;
	font-size: 28px;
}
.success.alert_title:before{
	content:'\e658';
	color: #009688;
}
.danger.alert_title:before{
	content:'\e674';
	color: #f00;
}
.waiting.alert_title:before{
	content:'\e601';
	color: #ffb800;
}
.cancelBtn{
	width: 20px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	right: 10px;
}
.cancelBtn:after{
	content: "\e629";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	color: #707070;
}
.alert_msg{
	width: 100%;
	padding: 10px 10px 10px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #707070;
	font-size: 16px;
	line-height: 1.5;
}

.btsBox{
	background: #e2e2e2;
	width: 100%;
	overflow: hidden;
	padding: 10px 10px;
	text-align: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 30px;
}
.btns{
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 20%;
	padding: 10px 0;
	background: #98989E;
	border-radius: 5px;
	margin-right:2% ;
	color: #fff;
}
.btns:last-child{
	background: #3C60FF;
	margin-right: 0;
}
.demo-class{
	background: #f00 !important ;
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.alert{
		width: 70% !important;
	}
}