<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.tpp.bocm.mapper.BocmChkLogMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.tpp.bocm.entity.BocmChkLog" >
    <id column="PLAT_DATE" property="platDate" jdbcType="DECIMAL" />
    <id column="PLAT_TRACE" property="platTrace" jdbcType="DECIMAL" />
    <result column="SETTLE_DATE" property="settleDate" jdbcType="DECIMAL" />
    <result column="SETTLE_BRANCH" property="settleBranch" jdbcType="NVARCHAR" />
    <result column="HOST_DATE" property="hostDate" jdbcType="DECIMAL" />
    <result column="HOST_TRACENO" property="hostTraceno" jdbcType="NVARCHAR" />
    <result column="CCY" property="ccy" jdbcType="NVARCHAR" />
    <result column="TX_AMT" property="txAmt" jdbcType="DECIMAL" />
    <result column="ACCOUNTNO" property="accountno" jdbcType="NVARCHAR" />
    <result column="REVERSAL" property="reversal" jdbcType="NVARCHAR" />
    <result column="TX_STATUS" property="txStatus" jdbcType="NVARCHAR" />
    <result column="DIRECTION" property="direction" jdbcType="NVARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PLAT_DATE, PLAT_TRACE, SETTLE_DATE, SETTLE_BRANCH, HOST_DATE, HOST_TRACENO, 
    CCY, TX_AMT, ACCOUNTNO, REVERSAL, TX_STATUS, DIRECTION
    from BOCM_CHK_LOG
  </select>
</mapper>