<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.tpp.bocm.mapper.BocmChkErrMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.tpp.bocm.entity.BocmChkErr" >
    <id column="PLAT_DATE" property="platDate" jdbcType="DECIMAL" />
    <id column="PLAT_TRACE" property="platTrace" jdbcType="DECIMAL" />
    <result column="PRE_HOST_STATE" property="preHostState" jdbcType="NVARCHAR" />
    <result column="RE_HOST_STATE" property="reHostState" jdbcType="NVARCHAR" />
    <result column="DC_FLAG" property="dcFlag" jdbcType="NVARCHAR" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="NVARCHAR" />
    <result column="DIRECTION" property="direction" jdbcType="NVARCHAR" />
    <result column="TX_AMT" property="txAmt" jdbcType="DECIMAL" />
    <result column="PAYER_ACNO" property="payerAcno" jdbcType="NVARCHAR" />
    <result column="PAYER_NAME" property="payerName" jdbcType="NVARCHAR" />
    <result column="PAYEE_ACNO" property="payeeAcno" jdbcType="NVARCHAR" />
    <result column="PAYEE_NAME" property="payeeName" jdbcType="NVARCHAR" />
    <result column="MSG" property="msg" jdbcType="NVARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PLAT_DATE, PLAT_TRACE, PRE_HOST_STATE, RE_HOST_STATE, DC_FLAG, CHECK_FLAG, 
    DIRECTION, TX_AMT, PAYER_ACNO, PAYER_NAME, PAYEE_ACNO, PAYEE_NAME, MSG
    from BOCM_CHK_ERR
  </select>
  
  <select id="selectByDate" resultMap="BaseResultMap">
    select plat_date, plat_trace, pre_host_state, re_host_state, dc_flag, check_flag, 
    direction, tx_amt, payer_acno, payer_name, payee_acno, payee_name, msg
    from bocm_chk_err
    <trim prefix="WHERE" prefixOverrides="AND | OR ">
      <if test="begDate != null and begDate != ''">
        and plat_date <![CDATA[ >= ]]> #{begDate}
      </if>
      <if test="endDate != null and endDate != ''">
        and plat_date <![CDATA[ <= ]]> #{endDate}
      </if>
    </trim>
  </select>
  
  <select id="deleteByDate" >
    delete from bocm_chk_err where plat_date = #{date}
  </select>
</mapper>