<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxbank.tpp.bocm.mapper.BocmRcvLogMapper">
  <resultMap id="BaseResultMap" type="com.fxbank.tpp.bocm.entity.BocmRcvLog">
    <id column="PLAT_DATE" jdbcType="DECIMAL" property="platDate" />
    <id column="PLAT_TRACE" jdbcType="DECIMAL" property="platTrace" />
    <result column="PLAT_TIME" jdbcType="DECIMAL" property="platTime" />
    <result column="SOURCE_TYPE" jdbcType="NVARCHAR" property="sourceType" />
    <result column="TX_BRANCH" jdbcType="NVARCHAR" property="txBranch" />
    <result column="TX_IND" jdbcType="NVARCHAR" property="txInd" />
    <result column="TX_CODE" jdbcType="NVARCHAR" property="txCode" />
    <result column="DC_FLAG" jdbcType="NVARCHAR" property="dcFlag" />
    <result column="TX_AMT" jdbcType="DECIMAL" property="txAmt" />
    <result column="HOST_DATE" jdbcType="DECIMAL" property="hostDate" />
    <result column="HOST_TRACENO" jdbcType="NVARCHAR" property="hostTraceno" />
    <result column="PAYER_ACNO" jdbcType="NVARCHAR" property="payerAcno" />
    <result column="PAYER_NAME" jdbcType="NVARCHAR" property="payerName" />
    <result column="PAYEE_ACNO" jdbcType="NVARCHAR" property="payeeAcno" />
    <result column="PAYEE_NAME" jdbcType="NVARCHAR" property="payeeName" />
    <result column="BOCM_BRANCH" jdbcType="NVARCHAR" property="bocmBranch" />
    <result column="BOCM_DATE" jdbcType="DECIMAL" property="bocmDate" />
    <result column="BOCM_TIME" jdbcType="DECIMAL" property="bocmTime" />
    <result column="BOCM_TRACENO" jdbcType="NVARCHAR" property="bocmTraceno" />
    <result column="CHECK_FLAG" jdbcType="NVARCHAR" property="checkFlag" />
    <result column="HOST_STATE" jdbcType="NVARCHAR" property="hostState" />
    <result column="BOCM_STATE" jdbcType="NVARCHAR" property="bocmState" />
    <result column="TX_TEL" jdbcType="NVARCHAR" property="txTel" />
    <result column="CHK_TEL" jdbcType="NVARCHAR" property="chkTel" />
    <result column="AUTH_TEL" jdbcType="NVARCHAR" property="authTel" />
    <result column="PRINT" jdbcType="NVARCHAR" property="print" />
    <result column="INFO" jdbcType="NVARCHAR" property="info" />
    <result column="RET_CODE" jdbcType="NVARCHAR" property="retCode" />
    <result column="RET_MSG" jdbcType="NVARCHAR" property="retMsg" />
    <result column="BOCM_FLAG" jdbcType="NVARCHAR" property="bocmFlag" />
    <result column="HOST_BRANCH" jdbcType="NVARCHAR" property="hostBranch" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select PLAT_DATE, PLAT_TRACE, PLAT_TIME, SOURCE_TYPE, TX_BRANCH, TX_IND, TX_CODE,DC_FLAG, 
    TX_AMT, HOST_DATE, HOST_TRACENO, PAYER_ACNO, PAYER_NAME, PAYEE_ACNO, PAYEE_NAME, 
    BOCM_BRANCH, BOCM_DATE, BOCM_TRACENO, CHECK_FLAG, HOST_STATE, BOCM_STATE, TX_TEL, 
    CHK_TEL, AUTH_TEL, PRINT, INFO, RET_CODE, RET_MSG, BOCM_FLAG, HOST_BRANCH
    from BOCM_RCV_LOG
  </select>


</mapper>