<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>渠道代理平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" th:href="@{ui/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{ui/css/font.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{ui/css/mobile.css}" />
    <link rel="stylesheet" type="text/css" th:href ="@{ui/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{ui/css/nav_tree.css}"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="asideBtn iconfont"></div>
</nav>
<div class="bg"></div>
<div class="layui-tab" lay-filter="demo" lay-allowclose="true">
    <aside id="Ui_treeNav">
        <!--菜单盒子-->
    </aside>
    <ul class="layui-tab-title">
        <!--<li class="layui-this">角色管理</li>-->
    </ul>

    <!--登录信息-->
    <div class="userBox">
        <p class=" iconfont"><shiro:principal property="name"/></p>
        <dl class="userChild">
            <!--<dd>修改信息</dd>-->
            <!--<dd>安全管理</dd>-->
            <dd onclick="logout()">退出登录</dd>
        </dl>
        <img src="ui/images/dataWeChat.jpg" alt='头像'/>
    </div>
    <div class="layui-tab-content">
        <!--<div class="layui-tab-item layui-show"><iframe src="role/list" width="100%" height="100%" frameborder="0"></iframe></div>-->
    </div>

</div>

<script th:src="@{/ui/jquery/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{ui/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{ui/js/commons.js}"></script>
<script th:src="@{ui/js/UI_nav.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{ui/js/nav_tree.js}" type="text/javascript" charset="utf-8"></script>
<script>
    /**
     * 模式化打开编辑页
     * @param title 页眉
     * @param area 打开页面大小如：['600px', '550px']
     * @param path 要打开的url
     * @param sucFunName 调用打开的编辑页的js方法
     * @param callBack 回调起始页的js方法
     */
    function openDetial(title, area, path, sucFunName, callBack) {
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage
                ,layer = layui.layer;
            layer.open({
                type: 2,
                title: title, //不显示标题栏
                closeBtn: 2,
                area: area,
                shade: 0.8,
                id: (new Date()).valueOf(), //设定一个id，防止重复弹出 时间戳1280977330748
                btn: ['保存', '取消'],
                btnAlign: 'r',
                moveType: 1, //拖拽模式，0或者1
                content: [path],
                yes: function (index, layero) {
                    var btn = layero.find('.layui-layer-btn').find('.layui-layer-btn0');
                    try {
                        var _ifr = btn[0].parentNode.parentNode.getElementsByClassName("layui-layer-content")[0].children[0].contentWindow ||
                            btn[0].parentNode.parentNode.getElementsByClassName("layui-layer-content")[0].children[0].children[0].contentWindow;
                        var func = new Function('_ifr', "return _ifr." + sucFunName + ";");
                        var flg = func(_ifr);
                        if (flg == false) {
                            return false;
                        } else {
                            if (callBack != null) callBack();
                            // window.location.reload();
                        }
                    } catch (ex) {

                    }
                },
                btn2: function (index, layero) {
                }
            });

        });
        // layer.alert('见到你真的很高兴', {icon: 6});

    }

    function showMessage(msg,ifmId) {
        layer.msg(msg.message, {
            icon: 1,
            area: ['220px', '80px'], //宽高
            time: 2000 //2秒关闭（如果不配置，默认是3秒）
        }, function(){
            document.getElementById("iframe_"+ifmId).contentWindow.location.reload(true);
            // window.location.reload();//刷新父级页面
            //parent.layer.close();//关闭弹出框
        });

    }

    //退出
    function logout(){
        window.location.href="logout";
    }
</script>
</body>
</html>