<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" th:href="@{../ui/button/buttons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../ui/layui/css/layui.css}" media="all"/>
    <script th:src="@{../ui/jquery/jquery.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../ui/button/buttons.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../system/config/config.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div style="margin-top: 15%;">
    <div style="text-align: center">
        <div id="message" style="margin-bottom:30px;visibility: hidden;">
            <a class="button button-glow button-border button-rounded button-caution" id="message_a">登录成功</a>
        </div>
        <form class="layui-form" id="form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">刷新路径</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="path" id="path"  autocomplete="off" value="/home/hammer/app/etc" class="layui-input" style="width: 300px">
                    </div>
                    <a href="javascript:operate('refresh')" class="button button-primary button-pill button-small" style="margin-left: 120px;margin-top: 3px">刷新redis</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--<span class="button-wrap">-->
<!--<a href="#" class="button button-pill button-raised button-primary button-giant">签到</a>-->
<!--</span>-->

<!--<span class="button-wrap">-->
<!--<a href="#" class="button button-pill button-giant">签退</a>-->
<!--</span>-->
</body>
</html>