<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>部门编辑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" th:href="@{../ui/layui/css/layui.css}" media="all"/>

</head>

<body>
<div style="margin-left: 21%;margin-top: 40px">
    <form class="layui-form" id="form" th:object="${SysDepartData}">
        <input type="hidden" name="id" id="id" th:field="*{id}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">部门编码</label>
                <div class="layui-input-inline">
                    <input type="text" name="code" id="code" th:field="*{code}" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="name" th:field="*{name}"  autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级部门</label>
                <div class="layui-input-inline">
                    <select name="parentId" id="parentId" th:field="*{parentId}" th:switch="*{parentId}">
                        <option value="0">根目录</option>
                        <option th:each="c:${parentIdList}" th:value="${c.id}" th:selected="selected" th:text="${'--'+ c.name}" ></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-inline">
                    <select name="available" id="available" th:field="*{available}" th:switch="*{available}">
                        <option value="0" th:selected="selected">可用</option>
                        <option value="1" th:selected="selected">不可用</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:src="@{../ui/jquery/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../system/depart/depart.js}" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer
    });

</script>
</body>

</html>