<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" th:href="@{../ui/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{../ui/css/style.css}" />
    <link rel="stylesheet" th:href="@{../ui/css/form_mobile.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../ui/css/table.css}"/>
    <link rel="stylesheet" th:href="@{../ui/button/buttons.css}" />
</head>

<body>
<div class="iconBox">
    <div class="iconfont glyphiconSearch_mob"></div>
</div>
<div class="searchBox">
    <form class="formBox layui-form" id="form" >
        <div class="form_box line_4">
            <div class="layui-inline">
                <label class="layui-form-label">公积金中心</label>
                <div class="layui-input-inline ">
                    <select name="pafcNo" id="pafcNo" lay-filter="reloadTable">
                        <option th:each="c:${pafCenterInfoList}" th:value="${c.pafcNo}" th:text="${c.pafcName}" ></option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <!--<button class="layui-btn layui-btn-normal layui-btn-sm" id="query" onclick="operate('list')">查询</button>-->
</div>
<div class="buttonBox" th:if="${data.success==true}">
    <button class="layui-btn" onclick="sign()">账户通知</button>
    <div id="table_box" lay-filter="table_box">
        <!--表格盒子-->
    </div>
</div>
<div style="text-align: center;" th:if="${data.success==false}">
    <div id="message" style="margin-top:100px;" >
        <a class="button button-glow button-border button-rounded button-caution" id="message_a" th:text="${data.message}">
        </a>
    </div>
</div>


<!--<div id="laypages"></div>-->


<script th:src="@{../ui/jquery/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/jquery/jquery-ui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/button/buttons.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/js/commons.js}"></script>
<script th:src="@{../ui/js/Ui_table.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/js/newForm.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../system/role/role.js}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" th:inline="javascript">
    var table =null;
    layui.use('table', function(){
        table = layui.table;
        table.render({
            elem: '#table_box',
            url:'../paf/getAcc?pafcNo='+$('#pafcNo').val(),
            isSortBox:true,
            editor:false,
            // cellMinWidth:80,
            cols: [
                [
                    {type:'checkbox'}
                    ,{field:'CLI_NO', title: '客户号'}
                    ,{field:'AC_NO', title: '账号',sort:true,minWidth:180}
                    ,{field:'AC_NAME', title: '账户名称',sort:true}
                    ,{field:'BR_NO', title: '开户机构号'}
                    ,{field:'BR_NAME', title: '开户机构名'}
                    ,{field:'AC_TYPE', title: '账户性质',toolbar:'#acType'}
                    ,{field:'AC_KIND', title: '账户类型',toolbar:'#acKind'}
                    ,{field:'AC_BITYPE', title: '账户类别',toolbar:'#acBitype'}
                    ,{field:'AC_STS', title: '账户状态',toolbar:'#acSts'}
                ]
            ],
            parseData:function(res){ //res 即为原始返回的数据
                    if(res.msg) alert(res.msg);
            },
            page: false

        });

    });

    function sign() {
        var checkStatus = table.checkStatus('table_box');
        if(checkStatus.data==""){
            alert("请选择要签约的账户")
            return;
        }
        $.ajax({
            async:false,
            type:"post",
            dataType:"json",
            data:{"pafcNo":$('#pafcNo').val(),"accList":JSON.stringify(checkStatus.data)},
            url:"../paf/accsign",
            success:function(msg){
                if(msg.success){
                    layer.msg(msg.message, {
                        icon: 1,
                        area: ['220px', '80px'], //宽高
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }else
                    layer.alert(msg.message);
            }
        });
    }

    layui.use(['form'], function() {
        var form = layui.form;
        form.on('select(reloadTable)', function (data) {
            table.reload('table_box', {
                url: '../paf/getAcc?pafcNo=' + data.value
            });
        });
    });
</script>
<script type="text/html" id="acType">
    {{#if(d.AC_TYPE==1){}}
    <span>活期</span>
    {{#}else if(d.AC_TYPE==2){}}
    <span>定期</span>
    {{#}else if(d.AC_TYPE==3){}}
    <span>户通</span>
    {{#}}}
</script>

<script type="text/html" id="acKind">
    {{#if(d.AC_KIND==1){}}
    <span>归集户</span>
    {{#}else if(d.AC_KIND==2){}}
    <span>结算户</span>
    {{#}else if(d.AC_KIND==3){}}
    <span>增值收益户</span>
    {{#}else if(d.AC_KIND==4){}}
    <span>贷款本金专户</span>
    {{#}else if(d.AC_KIND==5){}}
    <span>贷款利息专户</span>
    {{#}else if(d.AC_KIND==6){}}
    <span>贷款罚息专户</span>
    {{#}else if(d.AC_KIND==7){}}
    <span>贷款违约金专户</span>
    {{#}}}
</script>

<script type="text/html" id="acBitype">
    {{#if(d.AC_BITYPE==1){}}
    <span>对私</span>
    {{#}else if(d.AC_BITYPE==2){}}
    <span>对公</span>
    {{#}}}
</script>

<script type="text/html" id="acSts">
    {{#if(d.AC_STS==0){}}
    <span>注销</span>
    {{#}else if(d.AC_STS==1){}}
    <span>正常</span>
    {{#}}}
</script>

</body>

</html>