<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>form表单</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/form_mobile.css" />
		<style type="text/css">
			* {
				padding: 0;
				margin: 0;
			}
			
			html,
			body {
				width: 100%;
				height: 100%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 5px 4px 0 4px;
			}
		</style>
	</head>

	<body>
		<form class="formBox">
			<div class="form_box line_4">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
			<div class="form_box line_4">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
			<div class="form_box line_4">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
			<div class="form_box line_4">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
		</form>
		<form class="formBox">
			<div class="form_box line_3">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>

			<div class="form_box line_3">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>

			<div class="form_box line_3">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
		</form>
		<form class="formBox">
			<div class="form_box line_2">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
			<div class="form_box line_2">
				<div class="layui-inline">
					<label class="layui-form-label">验证手级机</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" class="layui-input">
					</div>
				</div>
			</div>
		</form>
		<form>
			<div class="layui-form-item">
				<label class="layui-form-label">单行输入框单行输入框单行输入框</label>
				<div class="layui-input-block">
					<input type="text" name="title" placeholder="请输入标题" class="layui-input">
				</div>
			</div>
		</form>
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">选择框</label>
				<div class="layui-input-inline">
					<select name="interest">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">单行选择框</label>
				<div class="layui-input-block">
					<select name="interest">
						<option value=""></option>
						<option value="0">写作</option>
						<option value="1" selected="">阅读</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
			</div>
		</form>

		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">分组选择框</label>
					<div class="layui-input-inline">
						<select name="quiz">
							<option value="">请选择问题</option>
							<optgroup label="城市记忆">
								<option value="你工作的第一个城市">你工作的第一个城市你工作的第一个城市</option>
							</optgroup>
							<optgroup label="学生时代">
								<option value="你的工号">你的工号</option>
								<option value="你最喜欢的老师">你最喜欢的老师</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">验证日期</label>
					<div class="layui-input-inline">
						<input type="text" name="date" id="date" placeholder="选择日期" class="layui-input">
					</div>
				</div>
			</div>
		</form>
		<form class="layui-form" action="">
			<div class="layui-form-item" pane="">
				<label class="layui-form-label">原始复选框</label>
				<div class="layui-input-block">
					<input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
					<input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
					<input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
				</div>
			</div>
		</form>
		<form class="layui-form" action="">
			<!--lay-text属性控制显示内容-->
			<div class="layui-form-item">
				<label class="layui-form-label">开关-默认关</label>
				<div class="layui-input-block">
					<input type="checkbox" name="close" lay-skin="switch" lay-text="TRUE|FALSE">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">开关-默认关</label>
				<div class="layui-input-block">
					<input type="checkbox" name="close" lay-skin="switch"  lay-filter="switchTest" lay-text="ON|OFF">
				</div>
			</div>

		</form>
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">单选框</label>
				<div class="layui-input-block">
					<input type="radio" name="sex" value="男" title="男" checked="">
					<input type="radio" name="sex" value="女" title="女">
					<input type="radio" name="sex" value="禁" title="禁用" disabled="">
				</div>
			</div>
		</form>
		<form class="layui-form" action="">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">普通文本域</label>
				<div class="layui-input-inline">
					<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">单行文本域</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
		</form>
<br /><br /><br /><br />
		<script src="../jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//日期
				laydate.render({
					elem: '#date'
				});
				laydate.render({
					elem: '#date1'
				});


				//监听指定开关
				form.on('switch(switchTest)', function(data) {
					layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
				      offset: '6px'
				    });
				});
			});
		</script>
	</body>

</html>