<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>数据</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" href="../css/form_mobile.css" />
		<link rel="stylesheet" type="text/css" href="../css/table.css"/>
	</head>

	<body>
		<div class="iconBox">
			<div class="iconfont glyphiconSearch_mob"></div>
		</div>
		<div class="searchBox">
			<form class="formBox">
				<div class="form_box line_4">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>
				<div class="form_box line_4">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>
				<div class="form_box line_4">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>
				<div class="form_box line_4">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>
				<div class="form_box line_3">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>

				<div class="form_box line_3">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>

				<div class="form_box line_3">
					<div class="layui-inline">
						<label class="layui-form-label">验证手级机</label>
						<div class="layui-input-inline">
							<input type="tel" name="phone" class="layui-input">
						</div>
					</div>
				</div>
			</form>
			<button class="layui-btn layui-btn-normal layui-btn-sm">查询</button>
			<button class="layui-btn layui-btn-danger layui-btn-sm">重置</button>
			<span class="iconfont glyphicon_pc"></span>
		</div>
		<div class="buttonBox">
			<button class="layui-btn">默认按钮</button>
			<button class="layui-btn">默认按钮</button>
			<button class="layui-btn">默认按钮</button>
			<button class="layui-btn">默认按钮</button>
			<button class="layui-btn">默认按钮</button>
			<button class="layui-btn">默认按钮</button>
		</div>
		<div id="table_box">
			<!--表格盒子-->
		</div>
		<div id="laypages"></div>
		<script src="../jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../jquery/jquery-ui.js" type="text/javascript" charset="utf-8">
		</script><script src="../js/commons.js"></script>
		<script src="../js/Ui_table.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/table.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newForm.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>