<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" th:href="@{../ui/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../ui/css/style.css}" />
</head>
<body>
<form id="form" th:object="${data}">
    <input type="hidden" id="roleId" name="roleId" th:field="*{roleId}">
</form>
<table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>

<!--<div id="laypages"></div>-->


<script th:src="@{../ui/jquery/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../system/role_permission/role_permission.js}" type="text/javascript" charset="utf-8"></script>
<!--绑定table数据-->
<script type="text/javascript" th:inline="javascript">


    var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null;
    layui.config({
        base: '../ui/layui/extend/'
    }).extend({
        treeGrid:'treeGrid'
    }).use(['jquery','treeGrid','layer'], function(){
        var $=layui.jquery;
        treeGrid = layui.treeGrid;//很重要
        layer=layui.layer;
        ptable=treeGrid.render({
            id:tableId
            ,elem: '#'+tableId
            ,idField:'id'
            ,url:'../rolePermission/listData?roleId='+$('#roleId').val()
            ,cellMinWidth: 100
            ,height:'100%'
            ,iconOpen:false//是否显示图标【默认显示】
            ,treeId:'id'//树形id字段名称
            ,treeUpId:'pId'//树形父id字段名称
            ,treeShowName:'name'//以树形式显示的字段
            ,cols: [[
                {type:'checkbox'}
                ,{title: '菜单名称', field:'name' ,align:'left'/*toolbar: '#barDemo'*/}
                ,{field:'url', title: '访问路径'}
                ,{field:'available', title: '是否可用',toolbar:'#barAvailable'}
            ]]
            ,page:false
        });

    });

    function getCheckData() {
        var checkStatus = treeGrid.checkStatus(tableId)
            ,data = checkStatus.data;
        layer.alert(JSON.stringify(data));
    }

</script>

<script type="text/html" id="barAvailable">
    {{#if(d.available==0){}}
    <span>可用</span>
    {{#}else if(d.available==1){}}
    <span>不可用</span>
    {{#}}}
</script>
</body>

</html>