<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{ui/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{ui/css/login.css}" />
</head>

<body>
<div class="bgImg">
    <div class="loginform">
        <div class="login_title">
            <img src="ui/images/logo.png" />
            <h2>阜新银行渠道代理平台</h2>
        </div>
        <form class="form-horizontal"  th:action="@{/login}"  method="post">
        <div class="login_form">
            <label class="iconfont user" for="username"><input type="text" name="username" id="username" placeholder="请输入用户名" value=""/></label>
            <label class="iconfont pass" for="password"><input type="password" name="password" id="password" placeholder="请输入密码" value=""/></label>
            <p class="errorTip" th:text="${msg}"></p>
            <label class="rememberMe" for="rememberMe"><input type="checkbox" name="rememberMe" id="rememberMe"/>Remember me</label>
            <button class="longinBtn">登录</button>
        </div>
        <div class="login_tip">
            <p>Copyright © 2016-2020 渠道代理平台 - Powered By 阜新银行 V1.0.0</p>
        </div>
        </form>
    </div>
</div>

</body>

</html>
