<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.cap.manager.mapper.PafAccMstReportMapper" >
    <resultMap id="BaseResultMap" type="com.fxbank.cap.manager.entity.PafAccMstReport" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="depart_code" property="departCode" jdbcType="VARCHAR" />
        <result column="center_no" property="centerNo" jdbcType="VARCHAR" />
        <result column="report_time" property="reportTime" jdbcType="VARCHAR" />
        <result column="report_user" property="reportUser" jdbcType="INTEGER" />
        <result column="num" property="num" jdbcType="VARCHAR" />
        <result column="acct_no" property="acctNo" jdbcType="VARCHAR" />
        <result column="reference" property="reference" jdbcType="VARCHAR" />
        <result column="tran_code" property="tranCode" jdbcType="VARCHAR" />
        <result column="oth_acct_no" property="othAcctNo" jdbcType="VARCHAR" />
        <result column="oth_acct_name" property="othAcctName" jdbcType="VARCHAR" />
        <result column="tran_amt" property="tranAmt" jdbcType="DECIMAL" />
        <result column="tran_date" property="tranDate" jdbcType="VARCHAR" />
        <result column="tran_time" property="tranTime" jdbcType="VARCHAR" />
        <result column="available_amt" property="availableAmt" jdbcType="DECIMAL" />
        <result column="branch" property="branch" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="ccy" property="ccy" jdbcType="VARCHAR" />
        <result column="amt_type" property="amtType" jdbcType="VARCHAR" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="odt_balance" property="odtBalance" jdbcType="DECIMAL" />
        <result column="doc_type" property="docType" jdbcType="VARCHAR" />
        <result column="voucher_no" property="voucherNo" jdbcType="VARCHAR" />
        <result column="oth_branch" property="othBranch" jdbcType="VARCHAR" />
        <result column="narrative" property="narrative" jdbcType="VARCHAR" />
        <result column="reversak" property="reversak" jdbcType="VARCHAR" />
        <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
        <result column="volume_num" property="volumeNum" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from paf_acct_mst_report
    </select>

    <select id="selectListPage" parameterType="com.fxbank.cap.manager.entity.PafAccMstReport" resultMap="BaseResultMap">
        select * from paf_acct_mst_report
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="centerNo != null and centerNo != ''">
                and center_no = #{centerNo}
            </if>
            <if test="reference != null and reference != ''">
                and reference = #{reference}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="tranDate != null and tranDate != ''">
                and tran_date = #{tranDate}
            </if>
        </trim>
    </select>


    <select id="getDeptIdByUserId" parameterType="int" resultType="string">
        select id from sys_depart a
        inner join
        sys_user_depart b
        on
        a.id=b.depart_id
        where b.user_id=#{userId}
    </select>

    <select id="getDepartCodeByParentId" parameterType="string" resultType="java.lang.String">
        select code from sys_depart
        where
        parent_ids like #{departId}
    </select>


    <select id="getFileListByCenterNo" parameterType="com.fxbank.cap.manager.entity.PafAccMstReport" resultMap="BaseResultMap">
        select distinct file_name,center_no,report_time,depart_code from paf_acct_mst_report
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="centerNo != null and centerNo != ''">
                and center_no = #{centerNo}
            </if>
            <if test="reference != null and reference != ''">
                and reference = #{reference}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="tranDate != null and tranDate != ''">
                and tran_date = #{tranDate}
            </if>
        </trim>
         order by report_time desc
    </select>

    <select id="selectMaxId" resultType="String" >
    select max(id) from paf_acct_mst_report
  </select>

</mapper>