<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.cap.manager.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.cap.manager.entity.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, name, password, salt, state
    from sys_user
  </select>
  <select id="selectMaxId" resultType="Integer" >
    select max(id) from sys_user
  </select>

  <select id="selectListPage" parameterType="com.fxbank.cap.manager.entity.SysUser" resultMap="BaseResultMap">
    select id, username, name, password, salt, state
    from sys_user
    <trim prefix="WHERE" prefixOverrides="AND | OR ">
      <if test="username != null and username != ''">
        and username = #{username}
      </if>
      <if test="name != null and name != ''">
        and name = #{name}
      </if>
      <if test="state != null and state != ''">
        and state = #{state}
      </if>
    </trim>
    order by id
  </select>

  <delete id="deleteUserDepartByUserId" parameterType="com.fxbank.cap.manager.entity.SysUserDepart">
    delete from sys_user_depart where user_id=#{userId}
  </delete>
</mapper>