@font-face {
	font-family: 'iconfont';
	src: url('../alifont/iconfont.eot');
	src: url('../alifont/iconfont.eot?#iefix') format('embedded-opentype'), 
	url('../alifont/iconfont.woff') format('woff'),
	 url('../alifont/iconfont.ttf') format('truetype'),
	  url('../alifont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
	overflow: auto;
	min-width: 1024px;
}

.bgImg {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../images/loginBg.png') no-repeat;
	background-size: 100% 100%;
}

.loginform {
	width: 36%;
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.login_title {
	width: 100%;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 150px;
}

.login_title img {
	vertical-align: middle;
	display: inline-block;
	width: 50px;
}

.login_title h2 {
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	vertical-align: middle;
	margin: 0;
	font-weight: 500;
}

.login_form {
	width: 70%;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: #f5f5f5;
	border-radius: 10px;
}

.login_form label {
	width: 100%;
	position: relative;
	line-height: 30px;
	margin-top: 50px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
}

.user:after {
	content: '\e600';
	position: absolute;
	left: 15%;
	color: #07f;
	top: 4px;
}

.pass:after {
	content: '\e742';
	position: absolute;
	left: 15%;
	top: 4px;
	color: #07f;
}

.login_form label input {
	width: 60%;
	font-weight: 100;
	border: 0;
	margin-left: 25%;
	font-weight: inherit;
	border-bottom: 1px solid #07f;
	outline: none;
	background: transparent;
	line-height: 25px;
	height: 25px;
}

.login_form label input::placeholder {
	font-weight: 100;
}

.login_form .longinBtn {
	width: 70%;
	margin: 0 auto;
	display: block;
	background: #07f;
	color: #fff;
	padding: 10px 0;
	border: 0;
	outline: none;
	border-radius: 5px;
	margin-bottom: 50px;
	margin-top: 10px;
}

.login_tip {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.login_tip p {
	text-align: center;
	width: 100%;
}
.errorTip{
	margin-top: 10px;
	font-size: 14px;
	color: #F00;
	padding-left: 25%;
	line-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
label.rememberMe{
	margin-top: 10px;
	padding-left: 25%;
	font-size: 14px;
	font-weight: 500;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
label.rememberMe input{
	display: inline;
	margin-left: 0;
	width: 16px;
	vertical-align: middle;
	margin-right: 5px;
}
.tipimg{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;

}
.zhandiImg{
	width: 70%;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	opacity: 0.6;
}
