<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.tpp.mivs.mapper.RegVrfctn.MivsRegvrfctnBasInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.tpp.mivs.entity.RegVrfctn.MivsRegvrfctnBasInfoEntity" >
    <id column="INSTG_PTY" property="instgPty" jdbcType="NVARCHAR" />
    <id column="MSG_ID" property="msgId" jdbcType="NVARCHAR" />
    <id column="BAS_INFO_NB" property="basInfoNb" jdbcType="DECIMAL" />
    <result column="PLAT_DATE" property="platDate" jdbcType="DECIMAL" />
    <result column="PLAT_TRACE" property="platTrace" jdbcType="DECIMAL" />
    <result column="PLAT_TIME" property="platTime" jdbcType="DECIMAL" />
    <result column="CRE_DT_TM" property="creDtTm" jdbcType="NVARCHAR" />
    <result column="ORIG_MSG_ID" property="origMsgId" jdbcType="NVARCHAR" />
    <result column="ORIG_INSTG_DRCT_PTY" property="origInstgDrctPty" jdbcType="NVARCHAR" />
    <result column="ORIG_INSTG_PTY" property="origInstgPty" jdbcType="NVARCHAR" />
    <result column="PG_NB" property="pgNb" jdbcType="DECIMAL" />
    <result column="MARKET_TYPE" property="marketType" jdbcType="NVARCHAR" />
    <result column="UNI_SOC_CDT_CD" property="uniSocCdtCd" jdbcType="NVARCHAR" />
    <result column="CO_TP" property="coTp" jdbcType="NVARCHAR" />
    <result column="REG_STS" property="regSts" jdbcType="NVARCHAR" />
    <result column="REG_AUTH" property="regAuth" jdbcType="NVARCHAR" />
    <result column="DT_APPR" property="dtAppr" jdbcType="NVARCHAR" />
    <result column="ENT_NM" property="entNm" jdbcType="NVARCHAR" />
    <result column="DOM" property="dom" jdbcType="NVARCHAR" />
    <result column="REG_CPTL" property="regCptl" jdbcType="NVARCHAR" />
    <result column="DT_EST" property="dtEst" jdbcType="NVARCHAR" />
    <result column="OP_PRD_FROM" property="opPrdFrom" jdbcType="NVARCHAR" />
    <result column="OP_PRD_TO" property="opPrdTo" jdbcType="NVARCHAR" />
    <result column="NM_OF_LGL_PRSN" property="nmOfLglPrsn" jdbcType="NVARCHAR" />
    <result column="TRA_NM" property="traNm" jdbcType="NVARCHAR" />
    <result column="OP_LOC" property="opLoc" jdbcType="NVARCHAR" />
    <result column="FD_AMT" property="fdAmt" jdbcType="NVARCHAR" />
    <result column="DT_REG" property="dtReg" jdbcType="NVARCHAR" />
    <result column="NM" property="nm" jdbcType="NVARCHAR" />
    <result column="BIZ_SCP" property="bizScp" jdbcType="CLOB" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select INSTG_PTY, MSG_ID, BAS_INFO_NB, PLAT_DATE, PLAT_TRACE, PLAT_TIME, CRE_DT_TM, 
    ORIG_MSG_ID, ORIG_INSTG_DRCT_PTY, ORIG_INSTG_PTY, PG_NB, MARKET_TYPE, UNI_SOC_CDT_CD, 
    CO_TP, REG_STS, REG_AUTH, DT_APPR, ENT_NM, DOM, REG_CPTL, DT_EST, OP_PRD_FROM, OP_PRD_TO, 
    NM_OF_LGL_PRSN, TRA_NM, OP_LOC, FD_AMT, DT_REG, NM, BIZ_SCP
    from MIVS_REGVRFCTN_BAS_INFO
  </select>
</mapper>