<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.tpp.mivs.mapper.RegVrfctn.MivsRegvrfctnBasInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.tpp.mivs.entity.RegVrfctn.MivsRegvrfctnBasInfoEntity" >
    <id column="MSG_ID" property="msgId" jdbcType="NVARCHAR" />
    <id column="BAS_INFO_NB" property="basInfoNb" jdbcType="DECIMAL" />
    <id column="INSTG_PTY" property="instgPty" jdbcType="NVARCHAR" />
    <result column="PLAT_DATE" property="platDate" jdbcType="DECIMAL" />
    <result column="PLAT_TRACE" property="platTrace" jdbcType="DECIMAL" />
    <result column="PLAT_TIME" property="platTime" jdbcType="DECIMAL" />
    <result column="CRE_DT_TM" property="creDtTm" jdbcType="NVARCHAR" />
    <result column="ORIG_MSG_ID" property="origMsgId" jdbcType="NVARCHAR" />
    <result column="ORIG_INSTG_DRCT_PTY" property="origInstgDrctPty" jdbcType="NVARCHAR" />
    <result column="ORIG_NM" property="entNm" jdbcType="NVARCHAR" />
    <result column="UNIINSTG_PTY" property="origInstgPty" jdbcType="NVARCHAR" />
    <result column="ENT__SOC_CDT_CD" property="uniSocCdtCd" jdbcType="NVARCHAR" />
    <result column="CO_TP" property="coTp" jdbcType="NVARCHAR" />
    <result column="DOM" property="dom" jdbcType="NVARCHAR" />
    <result column="REG_CPTL" property="regCptl" jdbcType="NVARCHAR" />
    <result column="DT_EST" property="dtEst" jdbcType="NVARCHAR" />
    <result column="OP_PRD_FROM" property="opPrdFrom" jdbcType="NVARCHAR" />
    <result column="OP_PRD_TO" property="opPrdTo" jdbcType="NVARCHAR" />
    <result column="REG_STS" property="regSts" jdbcType="NVARCHAR" />
    <result column="NM_OF_LGL_PRSN" property="nmOfLglPrsn" jdbcType="NVARCHAR" />
    <result column="REG_AUTH" property="regAuth" jdbcType="NVARCHAR" />
    <result column="DT_APPR" property="dtAppr" jdbcType="NVARCHAR" />
    <result column="BIZ_SCP" property="bizScp" jdbcType="CLOB" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select MSG_ID, BAS_INFO_NB, INSTG_PTY, PLAT_DATE, PLAT_TRACE, PLAT_TIME, CRE_DT_TM, ORIG_MSG_ID,
    ORIG_INSTG_DRCT_PTY, ORIG_INSTG_PTY, ENT_NM, UNI_SOC_CDT_CD, CO_TP, DOM, REG_CPTL, 
    DT_EST, OP_PRD_FROM, OP_PRD_TO, REG_STS, NM_OF_LGL_PRSN, REG_AUTH, DT_APPR,
    BIZ_SCP
    from MIVS_REGVRFCTN_BAS_INFO
  </select>
</mapper>