<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.cap.paf.mapper.PafBatchCrdtMasterMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.cap.paf.entity.PafBatchCrdtMaster" >
    <id column="plat_date" property="platDate" jdbcType="INTEGER" />
    <id column="plat_trace" property="platTrace" jdbcType="INTEGER" />
    <result column="tx_brno" property="txBrno" jdbcType="VARCHAR" />
    <result column="plat_time" property="platTime" jdbcType="INTEGER" />
    <result column="up_brno" property="upBrno" jdbcType="VARCHAR" />
    <result column="log_id" property="logId" jdbcType="VARCHAR" />
    <result column="log_dev" property="logDev" jdbcType="VARCHAR" />
    <result column="snd_date" property="sndDate" jdbcType="VARCHAR" />
    <result column="snd_time" property="sndTime" jdbcType="VARCHAR" />
    <result column="snd_seqno" property="sndSeqno" jdbcType="VARCHAR" />
    <result column="snd_unitno" property="sndUnitno" jdbcType="VARCHAR" />
    <result column="snd_node" property="sndNode" jdbcType="VARCHAR" />
    <result column="rcv_node" property="rcvNode" jdbcType="VARCHAR" />
    <result column="bdc_date" property="bdcDate" jdbcType="VARCHAR" />
    <result column="bdc_time" property="bdcTime" jdbcType="VARCHAR" />
    <result column="bdc_seqno" property="bdcSeqno" jdbcType="VARCHAR" />
    <result column="cus_no" property="cusNo" jdbcType="VARCHAR" />
    <result column="opr_no" property="oprNo" jdbcType="VARCHAR" />
    <result column="tx_status" property="txStatus" jdbcType="VARCHAR" />
    <result column="tx_msg" property="txMsg" jdbcType="VARCHAR" />
    <result column="succ_hostseqno" property="succHostseqno" jdbcType="VARCHAR" />
    <result column="succ_hostrspcode" property="succHostrspcode" jdbcType="VARCHAR" />
    <result column="succ_hostrspmsg" property="succHostrspmsg" jdbcType="VARCHAR" />
    <result column="roll_hostseqno" property="rollHostseqno" jdbcType="VARCHAR" />
    <result column="roll_hostrspcode" property="rollHostrspcode" jdbcType="VARCHAR" />
    <result column="roll_hostrspmsg" property="rollHostrspmsg" jdbcType="VARCHAR" />
    <result column="batch_filename" property="batchFilename" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="curr_no" property="currNo" jdbcType="VARCHAR" />
    <result column="curr_iden" property="currIden" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="bus_type" property="busType" jdbcType="VARCHAR" />
    <result column="batch_prjno" property="batchPrjno" jdbcType="INTEGER" />
    <result column="de_acctno" property="deAcctno" jdbcType="VARCHAR" />
    <result column="de_acctname" property="deAcctname" jdbcType="VARCHAR" />
    <result column="de_acctclass" property="deAcctclass" jdbcType="VARCHAR" />
    <result column="cap_amt" property="capAmt" jdbcType="DECIMAL" />
    <result column="de_intacctno" property="deIntacctno" jdbcType="VARCHAR" />
    <result column="de_intacctname" property="deIntacctname" jdbcType="VARCHAR" />
    <result column="de_intacctclass" property="deIntacctclass" jdbcType="VARCHAR" />
    <result column="de_intcracct" property="deIntcracct" jdbcType="VARCHAR" />
    <result column="int_amt" property="intAmt" jdbcType="DECIMAL" />
    <result column="bank_accno" property="bankAccno" jdbcType="VARCHAR" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="total_amt" property="totalAmt" jdbcType="DECIMAL" />
    <result column="succ_num" property="succNum" jdbcType="INTEGER" />
    <result column="succ_amt" property="succAmt" jdbcType="DECIMAL" />
    <result column="fail_num" property="failNum" jdbcType="INTEGER" />
    <result column="fail_amt" property="failAmt" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, tx_msg, succ_hostseqno, succ_hostrspcode, succ_hostrspmsg, 
    roll_hostseqno, roll_hostrspcode, roll_hostrspmsg, batch_filename, batch_no, curr_no, 
    curr_iden, file_type, bus_type, batch_prjno, de_acctno, de_acctname, de_acctclass, 
    cap_amt, de_intacctno, de_intacctname, de_intacctclass, de_intcracct, int_amt, bank_accno, 
    total_num, total_amt, succ_num, succ_amt, fail_num, fail_amt, remark
    from paf_batch_crdt_master
  </select>
  <select id="selectBatchByTxStatus" resultMap="BaseResultMap">
  select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, tx_msg, succ_hostseqno, succ_hostrspcode, succ_hostrspmsg, 
    roll_hostseqno, roll_hostrspcode, roll_hostrspmsg, batch_filename, batch_no, curr_no, 
    curr_iden, file_type, bus_type, batch_prjno, de_acctno, de_acctname, de_acctclass, 
    cap_amt, de_intacctno, de_intacctname, de_intacctclass, de_intcracct, int_amt, bank_accno, 
    total_num, total_amt, succ_num, succ_amt, fail_num, fail_amt, remark
    from paf_batch_crdt_master where
    tx_status in 
    <foreach item="item" index="index" collection="txStatus.split(',')" 
    open="(" separator="," close=")">'${item}'</foreach> order by batch_no 
  </select>
   <select id="selectDetailsAmtSum"  resultMap="BaseResultMap">
select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, tx_msg, succ_hostseqno, succ_hostrspcode, succ_hostrspmsg, 
    roll_hostseqno, roll_hostrspcode, roll_hostrspmsg, batch_filename, batch_no, curr_no, 
    curr_iden, file_type, bus_type, batch_prjno, de_acctno, de_acctname, de_acctclass, 
    cap_amt, de_intacctno, de_intacctname, de_intacctclass, de_intcracct, int_amt, bank_accno, 
    remark,(select sum(t0.tx_amt) from paf_batch_crdt_detail t0 where 
 t0.tx_status=2 and t0.batch_no=t.batch_no ) as succ_amt,
(select count(t1.tx_amt) from paf_batch_crdt_detail t1 where 
 t1.tx_status=2 and t1.batch_no=t.batch_no) as succ_num,
(select count(t2.tx_amt) from paf_batch_crdt_detail t2 where 
 t2.tx_status=3 and t2.batch_no=t.batch_no) as fail_num,
 (select sum(t3.tx_amt) from paf_batch_crdt_detail t3 where 
 t3.tx_status=3 and t3.batch_no=t.batch_no) as fail_amt,
 (select sum(t3.tx_amt) from paf_batch_crdt_detail t3 where 
  t3.batch_no=t.batch_no) as total_amt,
 (select count(t3.tx_amt) from paf_batch_crdt_detail t3 where 
  t3.batch_no=t.batch_no) as total_num
  from paf_batch_crdt_master t where batch_no = #{batchNo}
  </select>
  <update id="updateMaster" parameterType="com.fxbank.cap.paf.mapper.PafBatchCrdtMasterMapper">
  update paf_batch_crdt_master
  <set>
            <if test="master.txStatus != null">tx_status=#{master.txStatus},</if>
            <if test="master.txMsg != null">tx_msg=#{master.txMsg},</if>
            <if test="master.succHostseqno != null">succ_hostseqno=#{master.succHostseqno},</if>
            <if test="master.succHostrspcode != null">succ_hostrspcode=#{master.succHostrspcode},</if>
            <if test="master.succHostrspmsg != null">succ_hostrspmsg=#{master.succHostrspmsg},</if>
            <if test="master.rollHostseqno != null">roll_hostseqno=#{master.rollHostseqno},</if>
            <if test="master.rollHostrspcode != null">roll_hostrspcode=#{master.rollHostrspcode},</if>
            <if test="master.rollHostrspmsg != null">roll_hostrspmsg=#{master.rollHostrspmsg},</if>
            <if test="master.succNum != null">succ_num=#{master.succNum},</if>
            <if test="master.succAmt != null">succ_amt=#{master.succAmt},</if>
            <if test="master.failNum != null">fail_num=#{master.failNum},</if>
            <if test="master.failAmt != null">fail_amt=#{master.failAmt},</if>
        </set>
        where plat_date=#{master.platDate} and plat_trace=#{master.platTrace}
        <if test="oldStatus != null"> and tx_status=#{oldStatus}</if>
  </update>
</mapper>