<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxbank.cap.paf.mapper.PafBatchLoanMasterMapper">
  <resultMap id="BaseResultMap" type="com.fxbank.cap.paf.entity.PafBatchLoanMaster">
    <id column="plat_date" jdbcType="INTEGER" property="platDate" />
    <id column="plat_trace" jdbcType="INTEGER" property="platTrace" />
    <result column="tx_brno" jdbcType="VARCHAR" property="txBrno" />
    <result column="plat_time" jdbcType="INTEGER" property="platTime" />
    <result column="up_brno" jdbcType="VARCHAR" property="upBrno" />
    <result column="log_id" jdbcType="VARCHAR" property="logId" />
    <result column="log_dev" jdbcType="VARCHAR" property="logDev" />
    <result column="snd_date" jdbcType="VARCHAR" property="sndDate" />
    <result column="snd_time" jdbcType="VARCHAR" property="sndTime" />
    <result column="snd_seqno" jdbcType="VARCHAR" property="sndSeqno" />
    <result column="snd_unitno" jdbcType="VARCHAR" property="sndUnitno" />
    <result column="snd_node" jdbcType="VARCHAR" property="sndNode" />
    <result column="rcv_node" jdbcType="VARCHAR" property="rcvNode" />
    <result column="bdc_date" jdbcType="VARCHAR" property="bdcDate" />
    <result column="bdc_time" jdbcType="VARCHAR" property="bdcTime" />
    <result column="bdc_seqno" jdbcType="VARCHAR" property="bdcSeqno" />
    <result column="cus_no" jdbcType="VARCHAR" property="cusNo" />
    <result column="opr_no" jdbcType="VARCHAR" property="oprNo" />
    <result column="tx_status" jdbcType="VARCHAR" property="txStatus" />
    <result column="tx_msg" jdbcType="VARCHAR" property="txMsg" />
    <result column="succ_hostseqno" jdbcType="VARCHAR" property="succHostseqno" />
    <result column="succ_hostrspcode" jdbcType="VARCHAR" property="succHostrspcode" />
    <result column="succ_hostrspmsg" jdbcType="VARCHAR" property="succHostrspmsg" />
    <result column="batch_filename" jdbcType="VARCHAR" property="batchFilename" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="curr_no" jdbcType="VARCHAR" property="currNo" />
    <result column="curr_iden" jdbcType="VARCHAR" property="currIden" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="batch_prjno" jdbcType="INTEGER" property="batchPrjno" />
    <result column="cr_acctno" jdbcType="VARCHAR" property="crAcctno" />
    <result column="cr_acctname" jdbcType="VARCHAR" property="crAcctname" />
    <result column="cr_acctclass" jdbcType="VARCHAR" property="crAcctclass" />
    <result column="bank_accno" jdbcType="VARCHAR" property="bankAccno" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="total_amt" jdbcType="DECIMAL" property="totalAmt" />
    <result column="succ_num" jdbcType="INTEGER" property="succNum" />
    <result column="succ_amt" jdbcType="DECIMAL" property="succAmt" />
    <result column="fail_num" jdbcType="INTEGER" property="failNum" />
    <result column="fail_amt" jdbcType="DECIMAL" property="failAmt" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, tx_msg, succ_hostseqno, succ_hostrspcode, succ_hostrspmsg, 
    batch_filename, batch_no, curr_no, curr_iden, file_type, batch_prjno, cr_acctno, 
    cr_acctname, cr_acctclass, bank_accno, total_num, total_amt, succ_num, succ_amt, 
    fail_num, fail_amt, remark
    from paf_batch_loan_master
  </select>
   <select id="selectBatchByTxStatus" resultMap="BaseResultMap">
   select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, tx_msg, succ_hostseqno, succ_hostrspcode, succ_hostrspmsg, 
    batch_filename, batch_no, curr_no, curr_iden, file_type, batch_prjno, cr_acctno, 
    cr_acctname, cr_acctclass, bank_accno, total_num, total_amt, succ_num, succ_amt, 
    fail_num, fail_amt, remark
    from paf_batch_loan_master where
    tx_status in 
    <foreach item="item" index="index" collection="txStatus.split(',')" 
    open="(" separator="," close=")">'${item}'</foreach> order by batch_no 
  </select>
   <select id="selectDetailsAmtSum"  resultMap="BaseResultMap">
select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, tx_msg, succ_hostseqno, succ_hostrspcode, succ_hostrspmsg, 
    batch_filename, batch_no, curr_no, curr_iden, file_type, batch_prjno, cr_acctno, 
    cr_acctname, cr_acctclass, bank_accno, 
     remark,(select sum(t0.su_amt) from paf_batch_loan_detail t0 where 
 t0.tx_status=2 and t0.batch_no=t.batch_no ) as succ_amt,
(select count(t1.su_amt) from paf_batch_loan_detail t1 where 
 t1.tx_status=2 and t1.batch_no=t.batch_no) as succ_num,
(select count(t2.su_amt) from paf_batch_loan_detail t2 where 
 t2.tx_status=3 and t2.batch_no=t.batch_no) as fail_num,
 (select sum(t3.su_amt) from paf_batch_loan_detail t3 where 
 t3.tx_status=3 and t3.batch_no=t.batch_no) as fail_amt,
 (select sum(t3.tx_amt) from paf_batch_loan_detail t3 where 
  t3.batch_no=t.batch_no) as total_amt,
 (select count(t3.tx_amt) from paf_batch_loan_detail t3 where 
  t3.batch_no=t.batch_no) as total_num
  from paf_batch_loan_master t where batch_no = #{batchNo}
  </select>
  <update id="updateMaster" parameterType="com.fxbank.cap.paf.mapper.PafBatchLoanMasterMapper">
  update paf_batch_loan_master
  <set>
            <if test="master.txStatus != null">tx_status=#{master.txStatus},</if>
            <if test="master.txMsg != null">tx_msg=#{master.txMsg},</if>
            <if test="master.succHostseqno != null">succ_hostseqno=#{master.succHostseqno},</if>
            <if test="master.succHostrspcode != null">succ_hostrspcode=#{master.succHostrspcode},</if>
            <if test="master.succHostrspmsg != null">succ_hostrspmsg=#{master.succHostrspmsg},</if>
            <if test="master.succNum != null">succ_num=#{master.succNum},</if>
            <if test="master.succAmt != null">succ_amt=#{master.succAmt},</if>
            <if test="master.failNum != null">fail_num=#{master.failNum},</if>
            <if test="master.failAmt != null">fail_amt=#{master.failAmt},</if>
        </set>
        where plat_date=#{master.platDate} and plat_trace=#{master.platTrace}
        <if test="oldStatus != null"> and tx_status=#{oldStatus}</if>
  </update>
</mapper>