<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxbank.cap.paf.mapper.PafBatchLoanDetailMapper">
  <resultMap id="BaseResultMap" type="com.fxbank.cap.paf.entity.PafBatchLoanDetail">
    <id column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <id column="seq_no" jdbcType="VARCHAR" property="seqNo" />
    <result column="tx_amt" jdbcType="DECIMAL" property="txAmt" />
    <result column="su_amt" jdbcType="DECIMAL" property="suAmt" />
    <result column="de_acctno" jdbcType="VARCHAR" property="deAcctno" />
    <result column="de_acctname" jdbcType="VARCHAR" property="deAcctname" />
    <result column="de_chgno" jdbcType="VARCHAR" property="deChgno" />
    <result column="de_opnchgno" jdbcType="VARCHAR" property="deOpnchgno" />
    <result column="de_addr" jdbcType="VARCHAR" property="deAddr" />
    <result column="pro_no" jdbcType="VARCHAR" property="proNo" />
    <result column="engh_flag" jdbcType="VARCHAR" property="enghFlag" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="tx_status" jdbcType="VARCHAR" property="txStatus" />
    <result column="host_seqno" jdbcType="VARCHAR" property="hostSeqno" />
    <result column="host_rspcode" jdbcType="VARCHAR" property="hostRspcode" />
    <result column="host_rspmsg" jdbcType="VARCHAR" property="hostRspmsg" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select batch_no, seq_no, tx_amt, su_amt, de_acctno, de_acctname, de_chgno, de_opnchgno, de_addr, 
    pro_no, engh_flag, summary, tx_status, host_seqno, host_rspcode, host_rspmsg
    from paf_batch_loan_detail
  </select>
  <select id="selectSeqNosByBatchNo" resultType="java.lang.String" >
    select seq_no from paf_batch_loan_detail where batch_no=#{batchNo}
  </select>
  <select id="selectSeqNosByParams" resultType="java.lang.String" >
    select seq_no from paf_batch_loan_detail where
     batch_no=#{batchNo} and tx_status in 
    <foreach item="item" index="index" collection="txStatus.split(',')" 
    open="(" separator="," close=")">'${item}'</foreach>
  </select>
  <insert id="addList" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT ALL
        <foreach item="item" index="index" collection="list">
        INTO paf_batch_loan_detail
        (
            batch_no, seq_no, tx_amt, su_amt, de_acctno, de_acctname, de_chgno, 
            de_opnchgno, de_addr,pro_no,engh_flag, summary, tx_status,
            host_seqno, host_rspcode, host_rspmsg
        ) VALUES
        (
            #{item.batchNo, jdbcType=VARCHAR},
            #{item.seqNo, jdbcType=VARCHAR},
            #{item.txAmt, jdbcType=DECIMAL},
            #{item.suAmt, jdbcType=DECIMAL},
            #{item.deAcctno, jdbcType=VARCHAR},
            #{item.deAcctname, jdbcType=VARCHAR},
            #{item.deChgno, jdbcType=VARCHAR},
            #{item.deOpnchgno, jdbcType=VARCHAR},
            #{item.deAddr, jdbcType=VARCHAR},
            #{item.proNo, jdbcType=VARCHAR},
            #{item.enghFlag, jdbcType=VARCHAR},
            #{item.summary, jdbcType=VARCHAR},
            #{item.txStatus, jdbcType=VARCHAR},
            #{item.hostSeqno, jdbcType=VARCHAR},
            #{item.hostRspcode, jdbcType=VARCHAR},
            #{item.hostRspmsg, jdbcType=VARCHAR}
        )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
    <insert id="addList2" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO paf_batch_loan_detail
        (
            batch_no, seq_no, tx_amt, de_acctno, de_acctname, de_chgno, 
            de_opnchgno, de_addr,pro_no,engh_flag, summary, tx_status,
            host_seqno, host_rspcode, host_rspmsg
        ) 
         <foreach item="item" index="index" collection="list" separator="union all">
        (select
           #{item.batchNo, jdbcType=VARCHAR},
            #{item.seqNo, jdbcType=VARCHAR},
            #{item.txAmt, jdbcType=DECIMAL},
            #{item.suAmt, jdbcType=DECIMAL},
            #{item.deAcctno, jdbcType=VARCHAR},
            #{item.deAcctname, jdbcType=VARCHAR},
            #{item.deChgno, jdbcType=VARCHAR},
            #{item.deOpnchgno, jdbcType=VARCHAR},
            #{item.deAddr, jdbcType=VARCHAR},
            #{item.proNo, jdbcType=VARCHAR},
            #{item.enghFlag, jdbcType=VARCHAR},
            #{item.summary, jdbcType=VARCHAR},
            #{item.txStatus, jdbcType=VARCHAR},
            #{item.hostSeqno, jdbcType=VARCHAR},
            #{item.hostRspcode, jdbcType=VARCHAR},
            #{item.hostRspmsg, jdbcType=VARCHAR} from dual
        )
        </foreach>
    </insert>
     <update id="updateDetail" parameterType="com.fxbank.cap.paf.mapper.PafBatchLoanDetailMapper">
  update paf_batch_loan_detail
  <set>
            <if test="detail.txStatus != null">tx_status=#{detail.txStatus},</if>
            <if test="detail.hostSeqno != null">host_seqno=#{detail.hostSeqno},</if>
            <if test="detail.hostRspcode != null">host_rspcode=#{detail.hostRspcode},</if>
            <if test="detail.hostRspmsg != null">host_rspmsg=#{detail.hostRspmsg},</if>
            <if test="detail.suAmt != null">su_amt=#{detail.suAmt},</if>
        </set>
        where batch_no=#{detail.batchNo} 
        and seq_no=#{detail.seqNo}
        <if test="oldStatus != null"> and tx_status=#{oldStatus}</if>
  </update>
</mapper>