<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxbank.cap.paf.mapper.PafSingleDbitMapper">
  <resultMap id="BaseResultMap" type="com.fxbank.cap.paf.entity.PafSingleDbit">
    <id column="plat_date" jdbcType="INTEGER" property="platDate" />
    <id column="plat_trace" jdbcType="INTEGER" property="platTrace" />
    <result column="tx_brno" jdbcType="VARCHAR" property="txBrno" />
    <result column="plat_time" jdbcType="INTEGER" property="platTime" />
    <result column="up_brno" jdbcType="VARCHAR" property="upBrno" />
    <result column="log_id" jdbcType="VARCHAR" property="logId" />
    <result column="log_dev" jdbcType="VARCHAR" property="logDev" />
    <result column="snd_date" jdbcType="VARCHAR" property="sndDate" />
    <result column="snd_time" jdbcType="VARCHAR" property="sndTime" />
    <result column="snd_seqno" jdbcType="VARCHAR" property="sndSeqno" />
    <result column="snd_unitno" jdbcType="VARCHAR" property="sndUnitno" />
    <result column="snd_node" jdbcType="VARCHAR" property="sndNode" />
    <result column="rcv_node" jdbcType="VARCHAR" property="rcvNode" />
    <result column="bdc_date" jdbcType="VARCHAR" property="bdcDate" />
    <result column="bdc_time" jdbcType="VARCHAR" property="bdcTime" />
    <result column="bdc_seqno" jdbcType="VARCHAR" property="bdcSeqno" />
    <result column="cus_no" jdbcType="VARCHAR" property="cusNo" />
    <result column="opr_no" jdbcType="VARCHAR" property="oprNo" />
    <result column="tx_status" jdbcType="VARCHAR" property="txStatus" />
    <result column="cap_seqno" jdbcType="VARCHAR" property="capSeqno" />
    <result column="cap_hostcode" jdbcType="VARCHAR" property="capHostcode" />
    <result column="cap_hostmsg" jdbcType="VARCHAR" property="capHostmsg" />
    <result column="int_seqno" jdbcType="VARCHAR" property="intSeqno" />
    <result column="int_hostcode" jdbcType="VARCHAR" property="intHostcode" />
    <result column="int_hostmsg" jdbcType="VARCHAR" property="intHostmsg" />
    <result column="curr_no" jdbcType="VARCHAR" property="currNo" />
    <result column="curr_iden" jdbcType="VARCHAR" property="currIden" />
    <result column="settle_type" jdbcType="VARCHAR" property="settleType" />
    <result column="bus_type" jdbcType="VARCHAR" property="busType" />
    <result column="cr_acctno" jdbcType="VARCHAR" property="crAcctno" />
    <result column="cr_acctname" jdbcType="VARCHAR" property="crAcctname" />
    <result column="cr_acctclass" jdbcType="VARCHAR" property="crAcctclass" />
    <result column="de_acctno" jdbcType="VARCHAR" property="deAcctno" />
    <result column="de_acctname" jdbcType="VARCHAR" property="deAcctname" />
    <result column="de_acctclass" jdbcType="VARCHAR" property="deAcctclass" />
    <result column="de_bankname" jdbcType="VARCHAR" property="deBankname" />
    <result column="de_chgno" jdbcType="VARCHAR" property="deChgno" />
    <result column="de_bankclass" jdbcType="VARCHAR" property="deBankclass" />
    <result column="con_agrno" jdbcType="VARCHAR" property="conAgrno" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
    <result column="ref_acctno" jdbcType="VARCHAR" property="refAcctno" />
    <result column="ref_seqno" jdbcType="VARCHAR" property="refSeqno" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select plat_date, plat_trace, tx_brno, plat_time, up_brno, log_id, log_dev, snd_date, 
    snd_time, snd_seqno, snd_unitno, snd_node, rcv_node, bdc_date, bdc_time, bdc_seqno, 
    cus_no, opr_no, tx_status, cap_seqno, cap_hostcode, cap_hostmsg, int_seqno, int_hostcode, 
    int_hostmsg, curr_no, curr_iden, settle_type, bus_type, cr_acctno, cr_acctname, cr_acctclass, 
    de_acctno, de_acctname, de_acctclass, de_bankname, de_chgno, de_bankclass, con_agrno, 
    amt, ref_acctno, ref_seqno, summary, remark
    from paf_single_dbit
  </select>
</mapper>